/* Universal CSS Styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    margin:0;
    padding:0;
    background-color:rgb(46, 46, 46);
    /* overflow-x: hidden;  */
}

#index-body {
    background-color:rgb(46, 46, 46);
}

.navbar-content {
    font-size:150%;
}

.navbar-logo {
    width:15%;
}

#index-logo {
    width:100%;
}

/* Start of index.html CSS Styling */

#data-summary-container {
    padding:2%;
}

.data-title {
    color:rgb(211, 211, 211);
    font-size:200%;
    font-family: 'Roboto', sans-serif;
    text-align:center;
}

.recovered-cases {
    font-size:200%;
    max-width:50%;
    color:rgb(58, 179, 58);
    text-align:center;
    margin:auto;
}

#new-cases-value,
#total-cases-value {
    font-size:200%;
    max-width:50%;
    color:rgb(248, 176, 42);
    text-align:center;
    margin:auto;
}

.death-value {
    font-size:200%;
    max-width:50%;
    color:rgb(212, 0, 0);
    text-align:center;
    margin:auto;
}

.country-title {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:200%;
    text-align:center;
}

.country-content {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:100%;
    text-align:center;
}

.cases-content {
    color:rgb(248, 176, 42);
    text-align:center;
    margin:auto;
    font-size:180%;
}

.active-cases-content {
    color:rgb(202, 131, 0);
    text-align:center;
    margin:auto;
    font-size:180%;
}

/* End of index.html CSS Styling */